{% extends 'base.html' %}
{% load static %}
{% block SEO %}
<title>{{config.SITE_NAME_SEO}}</title>
<meta name="description" content="{{config.SEO_DESCRIPTION}}" />
<meta name="title" content="{{config.SITE_NAME_SEO}}" />
<meta name="sailthru.tags" content="{{config.SEO_TAGS}}" />
<meta name="keywords" content="{{config.SEO_TAGS}}">
<meta name="sailthru.author" content="{{config.SITE_NAME_SEO}}" />
<link rel="canonical" href="{{config.SITE_URL}}" />
<meta name="robots" content="index, follow">
<link rel="next" href="{{config.SITE_URL}}" />
<meta property="og:locale" content="en_EN" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{config.SITE_NAME_SEO}} " />
<meta property="og:description" content="{{config.SEO_DESCRIPTION}}" />
<meta property="og:url" content="{{config.SITE_URL}}" />
<meta property="og:site_name" content="{{config.SITE_NAME_SEO}}" />
<meta property="og:image" content="/media/{{config.LOGO}}" />
<meta property="og:image:width" content="813" />
<meta property="og:image:height" content="360" />
<meta property="og:image:type" content="image/png" />
{% endblock SEO %}
{% block content %}



    <!-- Header Start -->
    <div class="container-fluid bg-light my-3 mt-0" id="home">
        <div class="container">
            <div class="row g-5 align-items-center" >
                <div class="col-lg-6 py-6 pb-0 pt-lg-0" >
                    <h3 class="text-primary mb-3 bg-white" style="width: fit-content;">I'm</h3>
                    <h1 class="display-3 mb-3 bg-white" style="width: fit-content;">{{config.SITE_NAME}}</h1>
                    <h2 class="typed-text-output d-inline text-primary fw-bold bg-white px-2"></h2>
                    <div class="typed-text d-none ">{{config.Skills}}</div>
                    <div class="d-flex align-items-center pt-5 d-none">
                        <button type="button" class="btn-play" data-bs-toggle="modal"
                        data-bs-target="#videoModal">
                            <span></span>
                        </button>
                        <h5 class="ms-4 mb-0 d-none d-sm-block mx-2">Play Video</h5>
                    </div>
                </div>
                <div class="col-lg-6">
                    {% get_media_prefix as MEDIA_URL %}
                    <img class="img-fluid" src=" {{MEDIA_URL}}{{config.PRIMARY_IMAGE}}" alt="{{config.SITE_NAME_SEO}}">
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- Video Modal Start -->
    <div class="modal modal-video fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Video</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- 16:9 aspect ratio -->
                    <div class="ratio ratio-16x9">
                       <video controls>
                        {% get_media_prefix as MEDIA_URL %}
                        <source src="{{ MEDIA_URL }}{{config.PRIMARY_VIDEO}}"
                        type="video/mp4">
                       </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Video Modal End -->


    <!-- About Start -->
    <div class="container-xxl" id="about">
        <div class="container ">
           <h2 class="display-5">About me</h2>
           <p>
            {{config.ABOUT_YOUR_SELF | safe }} 
           </p>
        </div>
    </div>
    <!-- About End -->


    <!-- Expertise Start -->
    <div class="container-xxl py-3 pb-5" id="skill">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 ">
                    <h1 class="display-5 mb-5">Skills & Experience</h1>
                    <p class="mb-4">In this section, I share with you my experience in professional and academic life.</p>
                    <h3 class="mb-4">My Skills</h3>
                    <div class="row align-items-center">
                        <div class="col-md-10">
                            {% for skill  in skills %}
                            <div class="skill mb-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="font-weight-bold">{{skill.skill}}</h6>
                                    <h6 class="font-weight-bold">{{skill.percentage}}%</h6>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" style="background-color:{{skill.color}}!important" role="progressbar" aria-valuenow="{{skill.percentage}}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 " data-wow-delay="0.5s">
                    <ul class="nav nav-pills rounded border border-2 border-primary mb-5">
                        <li class="nav-item w-50">
                            <button class="nav-link w-100 py-3 fs-5 active" data-bs-toggle="pill" href="#tab-1">Experience</button>
                        </li>
                        <li class="nav-item w-50">
                            <button class="nav-link w-100 py-3 fs-5" data-bs-toggle="pill" href="#tab-2">Education</button>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane fade show p-0 active">
                            <div class="row gy-5 gx-4">
                                {% for expert in experiences  %}
                                   <div class="col-sm-6">
                                    <h5>{{expert.post}}</h5>
                                    <hr class="text-primary my-2">
                                    <h6 class="mb-0">{{expert.company}}</h6>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane fade show p-0">
                            <div class="row gy-5 gx-4">
                                {% for education in educations  %}
                                  <div class="col-sm-6">
                                    <h5>{{education.specialty}}</h5>
                                    <hr class="text-primary my-2">
                                    <h6 class="mb-0">{{education.college}}</h6>
                                </div>
                                {% endfor %}
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Expertise End -->



    <!-- Team Start -->
    <div class="container-xxl py-4 pb-5" id="team">
        <div class="container">
            <div class="row g-5 mb-5 ">
                <div class="col-lg-6">
                    <h1 class="display-5 mb-0">Team Members</h1>
                </div>

            </div>
            <div class="row g-4" >
                {% for person in teammembers  %}
                        <div class="col-lg-4 col-md-6 " id="person-{{person.id}}">
                    <div class="team-item position-relative">
                        <img class="img-fluid rounded" src="{{person.image.url}}" alt="{{person.name}} - {{config.SITE_NAME}}">
                        <div class="team-text bg-white rounded-end p-4">
                            <div>
                                <h5>{{person.name}}</h5>
                                <span>{{person.job_title}}</span>
                            </div>

                            <a href="#person-{{person.id}}" class="person" data-person="{{person.id}}">
                            <i class="bi bi-arrow-right  text-primary pe-auto"></i>

                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
          
            </div>
        </div>
    </div>
    <!-- Team End -->


    <!-- Testimonial Start -->
    <div class="container-fluid bg-light py-4 my-5" id="testimonial">
        <div class="container-fluid py-5">
            <h1 class="display-5 text-center mb-5">Testimonial</h1>
            <div class="row justify-content-center">
                <div class="col-lg-6" data-wow-delay="0.5s">
                    <div class="owl-carousel testimonial-carousel">
                        {% for testimonial in testimonials  %}
                        <div class="testimonial-item text-center">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-circle border border-secondary p-2 mx-auto" src="{{testimonial.image.url}}" alt=" {{config.SITE_NAME}}">
                                <div class="testimonial-icon">
                                    <i class="bi bi-chat-square-quote-fill text-primary"></i>
                                </div>
                            </div>
                            <p class="fs-5 fst-italic">{{testimonial.contenu}}</p>
                            <hr class="w-25 mx-auto">
                            <h5> <a href="{{testimonial.site_url}}#">{{testimonial.person}}</a> </h5>
                            <span>{{testimonial.job_title}}</span>
                        </div>   
                        {% endfor %}
 
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Testimonial End -->
    <!-- Projects Start -->
    {% if sections %}
    {% for section in sections %}
<div class=" container-xxl py-4 pt-5 " style="background:#2778c44f;">
        <div class="container">
            <div class="row g-5 mb-5 align-items-center  " data-wow-delay="0.05s">
                <div class="col-lg-6">
                    <h1 class="display-5 mb-0">{{section.name}}</h1>
                </div>
            </div>
            <div class="row portfolio-container  " data-wow-delay="0.05s">
                {% for item  in section.items  %}
                <div class="col-lg-4 col-md-6 portfolio-item first">
                    <div class="portfolio-img rounded overflow-hidden">
                        <img class="img-fluid" src="{{item.image.url}}" alt="{{section.name}} - {{config.SITE_NAME}}">
                        <div class="portfolio-btn">
                            <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href="{{item.image.url}}" data-lightbox="portfolio"><i class="bi bi-eye"></i></a>
                            <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href="{{item.site_url}}"><i class="bi bi-link"></i></a>
                        </div>
                    </div>
                    <p class="my-2 fw-bold px-2" style="color: black;" >{{item.title}}</p>
                    <p class="my-2 px-2" style="color:#00000063 !important">{{item.description}}</p>
                </div>
                {% endfor %}

            </div>
        </div>
</div>
    {% endfor %}
    <!-- Projects End -->
    {% endif %}


    <!-- Contact Start -->
    <div class="container-xxl pb-5" id="contact">
        <div class="container py-5">
            <div class="row g-5 mb-5 ">
                <div class="col-lg-6">
                    <h1 class="display-5 mb-0">Let's Work Together</h1>
                </div>
            </div>
            <div class="row g-5">
                <div class="col-lg-5 col-md-6 ">
                    <hr class="w-100">
                    <p class="mb-2">Call me:</p>
                    <h3 class="fw-bold">{{config.CONTACT_NUMBER}}</h3>
                    <hr class="w-100">
                    <p class="mb-2">Mail me:</p>
                    <h3 class="fw-bold">{{config.EMAIL}}</h3>
                    <hr class="w-100">
                    <p class="mb-2">Follow me:</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-square btn-primary me-2" href="{{config.INSTAGRAM_URL}}"><i class="bi bi-instagram"></i></a>
                        <a class="btn btn-square btn-primary me-2" href="{{config.TWITTER_URL}}"><i class="bi bi-twitter"></i></a>
                        <a class="btn btn-square btn-primary me-2" href="{{config.LINKED_URL}}"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-6 " data-wow-delay="0.5s">
                    <p class="mb-4"> Here is the form. You can send me a personal message, if you are interested, do not hesitate!</p>
                    <form method="post" id="send_message">
                        {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input required type="text" name="name" class="form-control" id="name" placeholder="Your Name">
                                    <label for="name">Your Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input required type="email" name="email" class="form-control" id="email" placeholder="Your Email">
                                    <label for="email">Your Email</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input required type="text" name="subject" class="form-control" id="subject" placeholder="Subject">
                                    <label for="subject">Subject</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea name="message" class="form-control" placeholder="Leave a message here" id="message" style="height: 100px"></textarea>
                                    <label for="message">Message</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary py-3 px-5"  type="submit">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->

{% endblock content %}
